@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-simonetta);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Colors Variables */
:root {
  --color-yellow-1: #fbfaf7;
  --color-yellow-2: #f4f2eb;
  --color-yellow-3: #927a20;
  --color-yellow-4: #4a4700;
  --color-green-1: #2c2200;
  --color-avocado: #939266;
  --color-taupe-gray: #b7b699;
  --color-moon-mist: #dbdbcc;
  --color-cararra: #f1f1eb;
  --color-red-brown: #4a1300;
  --color-neutral: #fcf9f7;
}

/* Text Effects */
.text-glow-gold {
  text-shadow:
    0 0 10px #ffd700,
    0 0 20px #ffd700,
    0 0 30px #ffd700;
}

.text-light-glow-gold {
  text-shadow:
    0 0 10px rgba(255, 215, 0, 0.6),
    0 0 20px rgba(255, 215, 0, 0.4),
    0 0 30px rgba(255, 215, 0, 0.2);
}

/* Background Colors */
.bg-yellow-1 {
  background-color: var(--color-yellow-1);
}

.bg-yellow-2 {
  background-color: var(--color-yellow-2);
}

.bg-yellow-3 {
  background-color: var(--color-yellow-3);
}

.bg-yellow-4 {
  background-color: var(--color-yellow-4);
}

.bg-green-1 {
  background-color: var(--color-green-1);
}

.bg-avocado {
  background-color: var(--color-avocado);
}

.bg-taupe-gray {
  background-color: var(--color-taupe-gray);
}

.bg-moon-mist {
  background-color: var(--color-moon-mist);
}

.bg-cararra {
  background-color: var(--color-cararra);
}

.bg-neutral {
  background-color: var(--color-neutral);
}

/* Hover Effects */
@layer utilities {
  .hover\:bg-moon-mist:hover {
    background-color: var(--color-moon-mist);
  }
}

@layer utilities {
  .hover\:bg-yellow-3:hover {
    background-color: var(--color-yellow-3);
  }
}

/* Text Colors */
.text-yellow-2 {
  color: var(--color-yellow-2);
}

.text-yellow-3 {
  color: var(--color-yellow-3);
}

.text-yellow-4 {
  color: var(--color-yellow-4);
}

.text-green-1 {
  color: var(--color-green-1);
}

.text-red-brown {
  color: var(--color-red-brown);
}

/* Border Colors */
.border-yellow-3 {
  border-color: var(--color-yellow-3);
  border-width: 2px;
}

.border-yellow-4 {
  border-color: var(--color-yellow-4);
  border-width: 1px;
}

.border-bot-green1 {
  border-bottom-color: #4a4700;
  border-width: 2px;
}

.focus\:ring-yellow-4 {
  &:focus {
    --tw-ring-color: var(--color-yellow-4);
  }
}

/* Customizing Element Templates */
.invitation-background {
  background-image: url("/Vectors/Detail-frame-left.svg"), url("/Vectors/Detail-frame-right.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    left top,
    right bottom;
  background-size:
    auto 340px,
    auto 340px;
}

/* Animation Variables */
:root {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-slide-in-left: slideInLeft 0.5s ease-out;
  --animate-fade-in: fadeIn 1s ease-out infinite;
  --animate-zoom-in: zoomIn 1s ease-in-out;
}

/* Customizing Animations */
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.animate-wiggle {
  animation: var(--animate-wiggle);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: var(--animate-fade-in);
  animation-fill-mode: both; /* Keeps the final state */
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: var(--animate-slide-in-left);
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: var(--animate-zoom-in);
}

@media (min-width: 640px) {
  .invitation-background {
    background-image: url("/Vectors/Detail-frame-left.svg"), url("/Vectors/Detail-frame-right.svg");
    background-repeat: no-repeat, no-repeat;
    background-position:
      left top,
      right bottom;
    background-size:
      auto 360px,
      auto 360px;
  }
}

@media (min-width: 768px) {
  .invitation-background {
    background-image: url("/Vectors/Detail-frame-left.svg"), url("/Vectors/Detail-frame-right.svg");
    background-repeat: no-repeat, no-repeat;
    background-position:
      left top,
      right bottom;
    background-size:
      auto 400px,
      auto 400px;
  }
}

@media (min-width: 1024px) {
  .invitation-background {
    background-image: url("/Vectors/Detail-frame-left.svg"), url("/Vectors/Detail-frame-right.svg");
    background-repeat: no-repeat, no-repeat;
    background-position:
      left top,
      right bottom;
    background-size:
      auto 650px,
      auto 650px;
  }
}

@media (min-width: 1260px) {
  .invitation-background {
    background-image: url("/Vectors/Detail-frame-left.svg"), url("/Vectors/Detail-frame-right.svg");
    background-repeat: no-repeat, no-repeat;
    background-position:
      left center,
      right center;
    background-size: contain, contain;
  }
}
